@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-50: #efeae5;
  --color-primary-100: #dfd6ca;
  --color-primary-200: #cfc1b0;
  --color-primary-300: #bfac96;
  --color-primary-400: #af987b;
  --color-primary-500: #9f8361;
  --color-primary-600: #8a7356;
  --color-primary-700: #75624b;
  --color-primary-800: #605241;
  --color-primary-900: #605241;
  --color-black: #202020;
  --color-semiwhite: #f4f4f4;
  --font-body: var(--font-body), sans-serif;
  --font-title: var(--font-title), sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply font-body text-foreground bg-background p-0 m-0 box-border;
}
